{
	"plugins": [
		["module-resolver", {
			"root" : ['./src'],
			"alias" : {
				"<components>" : "./src/components",
				"<containers>" : "./src/containers",
				"<actions>" : "./src/actions",
				"<constants>" : "./src/constants",
				"<reducers>" : "./src/reducers",
				"<mocks>" : "./__mocks__",
			}
		}]

	],
  	"presets": [
  		"es2015", 
  		"stage-0", 
  		"react"
  	]
}